@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #b1e1e2;
  h1 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    font: normal 92px/1 "Poiret One", sans-serif;
    color: #fff;
  }
  section {
    width: 1000px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .sky {
      position: absolute;
      width: 100%;
      height: 100%;
      .sun {
        position: absolute;
        top: -150px;
        left: 40%;
        transform-origin: center 600px;
        animation: sun 20s linear infinite;
      }
      .cloud1 {
        position: absolute;
        top: -30px;
        left: 10%;
        animation: flow 10s linear infinite;
      }
      .cloud2 {
        position: absolute;
        top: 20px;
        left: 0;
        animation: flow 20s linear infinite;
      }
    }
    .town {
      .circle {
        position: absolute;
        bottom: 104px;
        left: 34%;
        opacity: 0.7;
        animation: rotation linear 20s infinite;
      }
      .night {
        position: absolute;
        bottom: 0;
        left: 40px;
      }
      .day {
        position: absolute;
        bottom: 0;
        left: 40px;
        animation: day linear 20s infinite;
      }
    }
    .people {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation: day linear 20s infinite;
      .man {
        position: absolute;
        left: 0;
        bottom: 0;
        animation: flow linear 7s infinite;
      }
      .family {
        position: absolute;
        left: 0;
        bottom: 0;
        animation: flow linear 20s infinite;
      }
    }
  }
}

@keyframes sun {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
  }
  25% {
    opacity: 1;
    transform: rotate(-30deg);
  }
  50% {
    opacity: 1;
    transform: rotate(30deg);
  }
  75% {
    opacity: 0;
    transform: rotate(90deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg);
  }
}

@keyframes flow {
  0% {
    opacity: 0;
    left: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 90%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes day {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
