extends ../base

block content
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(type="password" name="oldPassword" placeholder="Old Password") 
    input(type="password" name="newPassword" placeholder="New Password") 
    input(type="password" name="newPasswordConfirmation" placeholder="New Password Confirmation") 
    input(type="submit" value="Change Password") 