.searchbar {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  &:focus {
    outline: none;
    border-bottom: 1px solid #1f93ff;
  }
}

.list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
