.container {
  display: flex;
  gap: 15px;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(220, 220, 220);
  color: #000;
  text-decoration: none;
  & > img {
    width: 80px;
  }
  .title {
    font-weight: bold;
  }
  .subTitle {
    word-break: keep-all;
  }
  .author {
    color: gray;
  }
}
