doctype html
html(lang="ko")
  head
    //- <link rel="stylesheet" href="https://unpkg.com/mvp.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" >
    <link rel="stylesheet" href="/assets/css/style.css"> 
    title #{pageTitle} | #{siteName}
    style.
      nav ul {
          display: flex;
          gap: 4px;
        }
  body
    include partials/header.pug
    main
      block content
    include partials/footer.pug
    script(src="/assets/js/main.js") 