extends base.pug
include mixins/video

block content
  form(method="GET")
    input(type="text" name="keyword" placeholder="Search By Title")
    input(type="submit" value="Search Now")

  each video in videos
    +video(video) 