extends base.pug
include mixins/video

block content
  form(method="GET").search__form
    input(type="text" name="keyword" placeholder="Search By Title")
    input(type="submit" value="Search Now")

  div.video__grid
    each video in videos
      +video(video) 
    else
      span.empty__message No Videos Found.