* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200;
    .headerWrap {
      position: relative;
      padding: 10px 20px;
      h1 {
        color: #fff;
        font-size: 15px;
      }
    }
    .progressWrap {
      position: relative;
      // top: 0;
      // left: 0;
      width: 100%;
      height: 1px;
      background: #d0d0d0;
      display: none;
      .bar {
        width: 50%;
        height: inherit;
        position: absolute;
        background: black;
        transition: width 0.4s ease-out;
      }
    }
    &.fixed {
      position: fixed;
      background: rgba($color: #ffffff, $alpha: 0.8);
      & .progressWrap {
        display: block;
      }
      & .headerWrap h1 {
        color: #000;
      }
    }
  }
  .coverWrap {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // height: 100vh;
    background: #000 url("./img/bg.jpg") center -500px / cover no-repeat;
    // z-index: 100;
    // display: none;
    .overlay {
      position: absolute;
      width: 100%;
      height: inherit;
      background: rgba($color: #000000, $alpha: 0.4);
    }
    .coverTitle {
      position: relative;
      text-align: center;
      h1 {
        color: #fff;
      }
      p {
        color: #cecece;
      }
    }
  }
  .contWrap {
    position: relative;
    background: #fff;
    .contentInnerWrap {
      width: 600px;
      margin: 0 auto;
      padding: 30px;
      h4 {
        font-size: 20px;
        margin-top: 20px;
      }
    }
  }
}
