@font-face {
  font-family: "Back to Black";
  src: url("./font/Back_to_Black_Demo.otf"),
    url("./font/Back_to_Black_Demo.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body.nav_active {
  & #nav_icon div span {
    &:nth-child(1) {
      top: 10px;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      top: 10px;
      transform: rotate(-45deg);
    }
  }
  & nav {
    opacity: 1;
    transform: translateX(0px);
  }
}

#nav_icon {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 25px;
  z-index: 3;
  cursor: pointer;
  div {
    position: relative;
    width: 100%;
    height: 100%;
    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      transition: all 0.3s ease-in-out;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3) {
        top: 20px;
      }
    }
  }
}

nav {
  position: fixed;
  top: 21px;
  right: 60px;
  z-index: 2;
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.3s ease-in-out;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    li a {
      color: #fff;
      font-size: 1.5rem;
    }
  }
}

.section {
  &#sec0 {
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    svg,
    img {
      position: absolute;
      top: 50%;
      left: 50%;
    }
    .svg1 {
      fill: none;
      stroke: #fff;
      stroke-width: 2;
      transform: translate(-50%, -50%);
    }
    .svg2 {
      width: 657px;
      transform: translate(-49.5%, -49.5%);
    }
  }
  &#sec1 {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    .inner {
      flex-direction: column;
      img {
        width: 400px;
      }
      .gage_wrap {
        width: 500px;
        margin-top: 50px;
        ul {
          display: flex;
          li {
            width: 25%;
            text-align: center;
            .gage {
              width: 15px;
              height: 150px;
              background: rgba($color: #ffffff, $alpha: 0.3);
              margin: 0 auto;
              padding: 5px;
              position: relative;
              .gage_in {
                position: absolute;
                bottom: 0;
                width: 5px;
                height: 0;
                background: #fff;
              }
            }
            .gage_tit {
              color: #fff;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
  &#sec2 {
    background: url("./img/sec2_bg_0.png") center/cover no-repeat;
    transition: all 0.3s;
    .inner {
      h1 {
        opacity: 0;
        transform: translateY(-50px);
        img {
          width: 400px;
        }
      }
      .slider_wrap {
        width: 50vw;
        max-width: 700px;
        height: 35vw;
        max-height: 550px;
        margin-left: 50px;
        opacity: 0;
        transform: translateY(-50px);
        .sec2_slider {
          position: relative;
          width: 100%;
          height: 100%;
          box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.4);
          overflow: hidden;
          border-radius: 30px;
          li {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0;
            text-indent: -9999px;
            &.on {
              opacity: 1;
            }
            &:nth-child(1) {
              background-image: url("./img/sec2_1.png");
            }
            &:nth-child(2) {
              background-image: url("./img/sec2_2.png");
            }
            &:nth-child(3) {
              background-image: url("./img/sec2_3.png");
            }
            &:nth-child(4) {
              background-image: url("./img/sec2_4.png");
            }
          }
        }
        .btn_wrap {
          display: flex;
          justify-content: space-around;
          width: 100%;
          margin-top: 30px;
          .slide_btn {
            display: inline-block;
            width: 10px;
            height: 20px;
            text-indent: -9999px;
            background: url("./img/arr_01.png") center/cover no-repeat;
            &.right {
              background-image: url("./img/arr_02.png");
            }
          }
          .slide_icons {
            display: flex;
            li {
              width: 10px;
              height: 5px;
              text-indent: -9999px;
              background: rgba($color: #ffffff, $alpha: 0.6);
              margin: 0 2px;
              margin-top: 10px;
              border-radius: 5px;
              cursor: pointer;
              transition: all 0.3s;
              &.active {
                width: 20px;
                background: #fff;
              }
            }
          }
        }
      }
    }
  }
  &#sec3 {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    h1 {
      font-family: "Back to Black";
      font-size: 100px;
      color: #fff;
      letter-spacing: -3px;
      transform: translateX(-100px);
      position: relative;
      z-index: 2;
      span {
        opacity: 0;
      }
    }
    .sec3_svg {
      fill: #667eea;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  &#sec4 {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    img {
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      z-index: 2;
    }
    .img_wrap {
      width: 500px;
      height: 500px;
      display: flex;
      flex-wrap: wrap;
      // border: 1px solid #fff;
      .tail {
        background: #009efd;
        width: calc(100% / 20);
        height: calc(100% / 20);
      }
    }
  }
  .inner {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

#fp-nav ul li a span {
  background: #fff;
}
