* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body.nav_active #nav_icon div span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}
body.nav_active #nav_icon div span:nth-child(2) {
  opacity: 0;
}
body.nav_active #nav_icon div span:nth-child(3) {
  top: 10px;
  transform: rotate(-45deg);
}
body.nav_active nav {
  opacity: 1;
  transform: translateX(0px);
}

#nav_icon {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 25px;
  z-index: 3;
  cursor: pointer;
}
#nav_icon div {
  position: relative;
  width: 100%;
  height: 100%;
}
#nav_icon div span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}
#nav_icon div span:nth-child(1) {
  top: 0;
}
#nav_icon div span:nth-child(2) {
  top: 10px;
}
#nav_icon div span:nth-child(3) {
  top: 20px;
}

nav {
  position: fixed;
  top: 21px;
  right: 60px;
  z-index: 2;
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.3s ease-in-out;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}
nav ul li a {
  color: #fff;
  font-size: 1.5rem;
}

.section#sec0 {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.section#sec0 svg,
.section#sec0 img {
  position: absolute;
  top: 50%;
  left: 50%;
}
.section#sec0 .svg1 {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  transform: translate(-50%, -50%);
}
.section#sec0 .svg2 {
  width: 657px;
  transform: translate(-49.5%, -49.5%);
}
.section#sec1 {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.section#sec1 .inner {
  flex-direction: column;
}
.section#sec1 .inner img {
  width: 400px;
}
.section#sec1 .inner .gage_wrap {
  width: 500px;
  margin-top: 50px;
}
.section#sec1 .inner .gage_wrap ul {
  display: flex;
}
.section#sec1 .inner .gage_wrap ul li {
  width: 25%;
  text-align: center;
}
.section#sec1 .inner .gage_wrap ul li .gage {
  width: 15px;
  height: 150px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  padding: 5px;
  position: relative;
}
.section#sec1 .inner .gage_wrap ul li .gage .gage_in {
  position: absolute;
  bottom: 0;
  width: 5px;
  height: 0;
  background: #fff;
}
.section#sec1 .inner .gage_wrap ul li .gage_tit {
  color: #fff;
  margin-top: 10px;
}
.section#sec2 {
  background: url("./img/sec2_bg_0.png") center/cover no-repeat;
  transition: all 0.3s;
}
.section#sec2 .inner h1 {
  opacity: 1;
  transform: translateY(-50px);
}
.section#sec2 .inner h1 img {
  width: 400px;
}
.section#sec2 .inner .slider_wrap {
  width: 50vw;
  max-width: 700px;
  height: 35vw;
  max-height: 550px;
  margin-left: 50px;
  opacity: 1;
  transform: translateY(-50px);
}
.section#sec2 .inner .slider_wrap .sec2_slider {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 30px;
}
.section#sec2 .inner .slider_wrap .sec2_slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  text-indent: -9999px;
}
.section#sec2 .inner .slider_wrap .sec2_slider li.on {
  opacity: 1;
}
.section#sec2 .inner .slider_wrap .sec2_slider li:nth-child(1) {
  background-image: url("./img/sec2_1.png");
}
.section#sec2 .inner .slider_wrap .sec2_slider li:nth-child(2) {
  background-image: url("./img/sec2_2.png");
}
.section#sec2 .inner .slider_wrap .sec2_slider li:nth-child(3) {
  background-image: url("./img/sec2_3.png");
}
.section#sec2 .inner .slider_wrap .sec2_slider li:nth-child(4) {
  background-image: url("./img/sec2_4.png");
}
.section#sec2 .inner .slider_wrap .btn_wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
}
.section#sec2 .inner .slider_wrap .btn_wrap .slide_btn {
  display: inline-block;
  width: 10px;
  height: 20px;
  text-indent: -9999px;
  background: url("./img/arr_01.png") center/cover no-repeat;
}
.section#sec2 .inner .slider_wrap .btn_wrap .slide_btn.right {
  background-image: url("./img/arr_02.png");
}
.section#sec2 .inner .slider_wrap .btn_wrap .slide_icons {
  display: flex;
}
.section#sec2 .inner .slider_wrap .btn_wrap .slide_icons li {
  width: 10px;
  height: 5px;
  text-indent: -9999px;
  background: rgba(255, 255, 255, 0.6);
  margin: 0 2px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.section#sec2 .inner .slider_wrap .btn_wrap .slide_icons li.active {
  width: 20px;
  background: #fff;
}
.section#sec3 {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
.section#sec4 {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}
.section .inner {
  width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fp-nav ul li a span {
  background: #fff;
}