.container {
  display: flex;
  gap: 15px;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(220, 220, 220);
  .cover_img {
    width: 80px;
    height: 105px;
    background: rgb(230, 230, 230);
  }
  .info_container {
    flex: 1;
    .title,
    .subtitle,
    .author {
      width: 100%;
      height: 20px;
      background: rgb(230, 230, 230);
    }
  }
}
