@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

html,
body {
  margin: 0;
  font-family: "Nanum Pen Script", cursive;
  width: 100%;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
}

body {
  height: 100%;
}

#root {
  width: 100%;
  max-width: 600px;
  height: 100%;
  min-height: 100vh;
  background: #fff;
  box-shadow: 0px 7px 29px rgba(100, 100, 100, 0.2);
}
